@media screen and (max-width: 1000px){
    .header{

    }
}
@media screen and (max-width: 1400px){
    .product{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 0 100px auto;
    }
    .priceRes{
        margin-left: 390px;
    }
    .TotalLine{
        width: 680px;
        margin-bottom: 20px;
    }
    .totalPrice{
        margin-right: 300px;
        height: 350px;
    }
}
@media screen and (max-width: 800px){
    .responsiveImg{
        display: block;
    }
    .none{
        display: none;
    }
    .resGap{
        gap: 4px;
    }
}